.header {
    padding: 80px;
    background: #1abc9c;
    text-align: center;
    color: white;
}

.header {
    font-size: 40px;
}

navbar {
    overflow: hidden;
    background-color ;
}

navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}